<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hotel.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @hotel.city %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @hotel.cost %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hotel.address %>
</p>

<p><%= @hotel.latitude %>, <%= @hotel.longitude %></p>

<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %>
